*{
    font-family: 'Quicksand', sans-serif;
}

/* Header */

#main-header{
    background-image: url(./img/pattern.png);
    background-size: contain;
    background-color: rgb(100, 145, 197);   
}

#logo-background{
    width: 80%;
    margin: 0 auto;
}

#logo-img{
    width:200px;
    margin-top: 40px;
}

/* Main */

main{
    width: 80%;
    margin: 0 auto;
}

/* First Section */

#title{
    margin-bottom: 0;
}

#title-description{
    margin-top: 0;
    font-size: 18px;
    color: rgb(128,128,128);
}

#colored-description{
    color: rgb(100, 145, 197);
}

.img-description{
    display: block;
    font-size: 13px;
}
/* Second Section - Table */

table{
    width: 100%;
    border-collapse:collapse;
}

thead{
    color: rgb(255, 255, 255);
    background-color: rgb(100, 145, 197);
    text-align: left;
}

.colored-tr{
    background-color: rgba(100, 145, 197, 0.415);
}

/* Aside */

#aside-title{
    color: rgb(128,128,128);
}

.img-aside{
    width: 300px;
    height: 200px;
}

#monitor{
    background-image: url(./img/monitor.jpg);
}

#graph{
    background-image: url(./img/graph.jpg);
}

.img-title{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
}

